/*------------------------------------*\
  #LINKS
\*------------------------------------*/

a[href]:not([class]) {
  color: $color-brand;
  text-decoration: none;

  @include attention() {
    text-decoration: underline;
  }
}
