/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
  font-size: 1.25rem;
  color: $color-green;
}

h1 {
  @include font-size($heading-size-1);
  font-style: italic;
  font-weight: 700;
}
//
// h2 {
//   @include font-size($heading-size-2);
// }
//
// h3 {
//   @include font-size($heading-size-3);
// }
//
// h4 {
//   @include font-size($heading-size-4);
// }
//
// h5 {
//   @include font-size($heading-size-5);
// }
//
// h6 {
//   @include font-size($heading-size-6);
// }
