///*------------------------------------*\
//  #DEFAULTS
//\*------------------------------------*/

@import 'potato_head/settings.colors';
@import 'potato_head/settings.fonts';
@import 'potato_head/settings.breakpoints';

$potato-base-font-size:   $base-font-size;
$potato-base-line-height: $base-line-height;
$potato-base-text-color:  $base-text-color;
