// ----------------------------------------------------------------------------
// #STYLESHEET
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// #SETTINGS
//
// Global variables, site-wide settings, config switches, etc.
// ----------------------------------------------------------------------------

@import 'settings.defaults';
@import 'potato_head/potato-defaults/settings.defaults';

$potato-breakpoints: (
  palm: $breakpoint-palm,
  lap-and-up: $breakpoint-lap-and-up,
  desk: $breakpoint-desk,
  alpha: 1150px
);
@import 'potato_head/potato-responsive-settings/settings.responsive';



// ----------------------------------------------------------------------------
// #TOOLS
//
// Site-wide mixins and functions.
// ----------------------------------------------------------------------------

@import 'potato_head/potato-functions/tools.functions';
@import 'potato_head/potato-mixins/tools.mixins';
@import 'potato_head/potato-widths-tools/tools.widths';
@import 'potato_head/potato-responsive-tools/tools.responsive';
@import 'tools.aliases';



// ----------------------------------------------------------------------------
// #GENERIC
//
// Low-specificity, far-reaching rulesets (e.g. resets).
// ----------------------------------------------------------------------------

@import 'potato_head/potato-normalize/generic.normalize';
@import 'potato_head/potato-reset/generic.reset';
@import 'potato_head/potato-box-sizing/generic.box-sizing';
@import 'potato_head/potato-shared/generic.shared';



// ----------------------------------------------------------------------------
// #BASE
//
// Unclassed HTML elements (e.g. a {}, blockquote {}, address {}).
// ----------------------------------------------------------------------------

@import 'potato_head/potato-page/base.page';
@import 'base.page';
@import 'base.headings';
@import 'base.links';
@import 'base.images';



// ----------------------------------------------------------------------------
// #OBJECTS
//
// Objects, abstractions, and design patterns (e.g. .o-btn {}).
// ----------------------------------------------------------------------------

@import 'potato_head/potato-layout/objects.layout';
@import 'objects.wrappers';
@import 'objects.lists';
@import 'objects.sections';
@import 'objects.slabs';

$potato-btn-background: $color-pink;
$potato-btn-radius: 4px;
$potato-enable-btn--small: true;
@import 'potato_head/potato-buttons/objects.buttons';



// ----------------------------------------------------------------------------
// #COMPONENTS
//
// Discrete, complete chunks of UI (e.g. .c-carousel {}).
// ----------------------------------------------------------------------------

@import 'components.containers';
@import 'components.page-head';
@import 'components.page-foot';
@import 'components.portfolio-list';

.u-lede {
  @include font-size($heading-size-4);
  font-style: italic;
}

.hide\@mobile {
  display: none;

  @include mq(lap-and-up) {
    display: block;
  }
}

// @import 'syntax-highlighting';



// ----------------------------------------------------------------------------
// #TRUMPS
//
// High-specificity, very explicit selectors.
// Overrides and helper classes (e.g. .u-hidden {}).
// ----------------------------------------------------------------------------

$potato-widths-columns-responsive: (1, 2, 3, 4, 5);
@import 'potato_head/potato-widths-responsive/trumps.widths-responsive';
