$font-arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-lucidagrande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$font-trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$font-verdana: Verdana, Geneva, sans-serif;
$font-baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$font-georgia: Georgia, Times, "Times New Roman", serif;
$font-lucidabright: "Lucida Bright", Georgia, serif;
$font-times: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$font-consolas: Consolas, monaco, monospace;
$font-courier: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$font-monaco: Monaco, Consolas, "Lucida Console", monospace;
$font-lato: Lato, sans-serif;
$font-base: $font-lato;
$font-body: $font-lato;
$font-headings: $font-lato;
$base-font-size: 18px;
$base-line-height: 30px;
$heading-size-1: 33px;
$heading-size-2: 30px;
$heading-size-3: 24px;
$heading-size-4: 20px;
$heading-size-5: 16px;
$heading-size-6: 14px;
