$breakpoint-palm: 719px;
$breakpoint-lap-min: 720px;
$breakpoint-lap-max: 1023px;
$breakpoint-lap-and-up: $breakpoint-lap-min;
$breakpoint-portable: $breakpoint-lap-max;
$breakpoint-desk: 1024px;
$breakpoint-desk-wide: 1200px;
