$color-white: #fff;
$color-white-gray: #eaeaea;
$color-gray: #333;
$color-gray-light: #ccc;
$color-black: #000;
$color-blue: #3d5265;
$color-greenn: #49AB77;
$color-green: #00a95c;
$color-pink: #e9506e;
$color-brand: $color-green;
$base-text-color: $color-gray;
$base-background-color: $color-blue;
