---
layout: default
---

<div class="o-section o-section--single">
  <h1>{{ page.title }}</h1>
  <div class="o-layout">
    <div class="o-layout__item u-1/3@lap-and-up">
      <ul class="o-list">
        <li>{{ page.year }}</li>
        <li>{{ page.responsibilities }}</li>
        <li><a href="{{ page.link }}">{{ page.link }}</a></li>
        <li><a href="{{ page.repository }}">GitHub Repository</a></li>
      </ul>
    </div><div class="o-layout__item u-2/3@lap-and-up">
      {{ content }}
    </div>
  </div>
</div>
