<footer class="c-page-foot">
  <span>Mike Schenkel</span>
  <ul class="o-list o-list--social">
    <li class="o-list--social__item">
      <a href="{{ site.github }}">
        <img class="o-list--social__icon" src="/assets/img/github.svg" alt="GitHub">
      </a>
    </li>
    <li class="o-list--social__item">
      <a href="{{ site.twitter }}">
        <img class="o-list--social__icon" src="/assets/img/twitter.svg" alt="Twitter">
      </a>
    </li>
    <li class="o-list--social__item">
      <a href="{{ site.linkedin }}">
        <img class="o-list--social__icon" src="/assets/img/linkedin.svg" alt="LinkedIn">
      </a>
    </li>
  </ul>
  <a class="o-btn o-btn--small  hide@mobile" href="mailto:{{ site.email }}">Contact</a>
</footer>
