<header class="site-header">
  <div class="o-slab--white">
    <div class="o-wrapper">
      <div class="site-head">
        <a class="logo-link" href="/">
          <div class="logo">
            <span class="logo__title">Mike Schenkel</span>
            <span class="logo__tagline">Front-end Developer</span>
          </div>
        </a>
        <span>
          <a class="o-btn o-btn--small" href="mailto:{{ site.email }}">Contact</a>
        </span>
      </div>
    </div>
  </div>
  <div class="o-slab--green">
    <div class="o-wrapper  c-cover">
      <p><img class="logo__trademark" src="/assets/img/logo.svg" alt="">
      Ik ben Mike Schenkel en ik maak websites voor ondernemers, ontwerpers en liefdevolle bedrijven.</p>
    </div>
  </div>
</header>
